body {
  margin: 0;
  padding: 0;
  overflow-x: hidden;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  background-color: var(--color-body);
}
:root {
  --color-black: #000000;
  --color-navbar: #5db7ec;
  --color-navActive: #0121d8;
  --color-navText: #ecedf3;
  --color-body: #949796;
  --color-formbg:#0099cc;
  --color-cancelBtn:#f44336;

}

